@font-face {
  font-family: Sono;
  src: url("/assets/fonts/Sono.woff2") format("woff2-variations");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sentient";
  src: url("/assets/fonts/Sentient/Sentient-Variable.woff2") format("woff2"),
    url("/assets/fonts/Sentient/Sentient-Variable.woff") format("woff"),
    url("/assets/fonts/Sentient/Sentient-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/assets/fonts/Satoshi/Satoshi-Variable.woff") format("woff"),
    url("/assets/fonts/Satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}



/*Meta Serif Pro Light
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 300;
font-style: normal;
Meta Serif Pro Light Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 300;
font-style: italic;
Meta Serif Pro Book
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 500;
font-style: normal;
Meta Serif Pro Book Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 500;
font-style: italic;
Meta Serif Pro Medium
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 600;
font-style: normal;
Meta Serif Pro Medium Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 600;
font-style: italic;
Meta Serif Pro Bold
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 700;
font-style: normal;
Meta Serif Pro Bold Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 700;
font-style: italic;
Meta Serif Pro Extrabold
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 800;
font-style: normal;
Meta Serif Pro Extrabold Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 800;
font-style: italic;
Meta Serif Pro Black
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 900;
font-style: normal;
Meta Serif Pro Black Italic
font-family: "ff-meta-serif-web-pro", serif;
font-weight: 900;
font-style: italic;

Meta Correspondence Pro Regular
font-family: "ff-meta-correspondence-web-p", sans-serif;
font-weight: 400;
font-style: normal;
Meta Correspondence Pro Italic
font-family: "ff-meta-correspondence-web-p", sans-serif;
font-weight: 400;
font-style: italic;
Meta Correspondence Pro Bold
font-family: "ff-meta-correspondence-web-p", sans-serif;
font-weight: 700;
font-style: normal;
Meta Correspondence Pro Bold Italic
font-family: "ff-meta-correspondence-web-p", sans-serif;
font-weight: 700;
font-style: italic;
Meta Pro Normal
font-family: "ff-meta-web-pro", sans-serif;
font-weight: 400;
font-style: normal;
Meta Pro Normal Italic
font-family: "ff-meta-web-pro", sans-serif;
font-weight: 400;
font-style: italic;
Meta Pro Bold
font-family: "ff-meta-web-pro", sans-serif;
font-weight: 700;
font-style: normal;
Meta Pro Bold Italic
font-family: "ff-meta-web-pro", sans-serif;
font-weight: 700;
font-style: italic;
Meta Pro Condensed Normal
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Meta Pro Condensed Normal Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 400;
font-style: italic;
Meta Pro Condensed Book
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 500;
font-style: normal;
Meta Pro Condensed Book Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 500;
font-style: italic;
Meta Pro Condensed Medium
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 600;
font-style: normal;
Meta Pro Condensed Medium Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 600;
font-style: italic;
Meta Pro Condensed Bold
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 700;
font-style: normal;
Meta Pro Condensed Bold Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 700;
font-style: italic;
Meta Pro Condensed Extrabold
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 800;
font-style: normal;
Meta Pro Condensed Extrabold Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 800;
font-style: italic;
Meta Pro Condensed Black
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 900;
font-style: normal;
Meta Pro Condensed Black Italic
font-family: "ff-meta-web-pro-condensed", sans-serif;
font-weight: 900;
font-style: italic;

*/